/* .card-quantity {
    position: absolute;
    left: 100px;
    top: 150px;
    color: white;
    font-size: 40;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}*/
.card-quantity {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.card-div {
    display: inline-block;
    position: relative;
    padding: 10px;
}
.card-image-container {
    position: relative;
}
.card-image {
    width: 250px;
    height: auto;
    border-radius: 10px;
}
.card-button-container {
    display: flex;
    position: absolute;
    top: 20%;
    right: 0;
    flex-direction: column;
}
.plus-button {
    aspect-ratio: 1;
    color: white;
    width: 50px;
    font-size: 30px;
    background-color: rgba(249,250,251,0);
    border: 2px solid rgba(255,255,255,.5);
}
.minus-button {
    aspect-ratio: 1;
    color: white;
    width: 50px;
    font-size: 30px;
    background-color: rgba(249,250,251,0);
    border: 2px solid rgba(255,255,255,.5);
}
.add-card-button {
    width: 40px;
    padding: 10px;
}
.modal-card-container {
  position: relative;
  /* To see what these do try zooming in */
  width: fit-content;
  height: fit-content;
}
.foil-overlay {
    position: absolute;
    background: linear-gradient(-60deg, purple, blue, green, yellow, red);
    width: 100%;
    height: 100%;
    border-radius: 13px;
    top: 0;
    left: 0;
    opacity: 0.2;
    pointer-events: none; /* Allows us to click through it to the buttons below */
}
.grid {
    display: block;
}
.page-nav-link {
    padding: 2px
}
