/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  position: relative;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  overflow: auto;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.add-button-span {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.add-button{
  background-color: #090;
  font-size: 24px;
}

/* Preview of card in modal */
.modal-card {
  width: 30%;
  padding: 10px;
}

.modal-card-img {
  height: 100%;
  width: 100%;
  border-radius: 13px;
}

.modal-label {
  position: relative;
}

.modal-option {
  position: relative;
}

textarea {
  resize: vertical;
}

#notification-container {
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
}

.notification {
  max-width: 25vw;
  margin: 10px;
  width: fit-content;
  padding: 10px;
  margin-left: auto;
  border-radius: 25px;
}

.notification:hover,
.notification:focus {
  filter: brightness(85%);
  text-decoration: none;
  cursor: pointer;
}

.notification-success {
  background-color: #090d;
}

.notification-failure {
  background-color: #900d;
  color: #eee
}
