<head>
  <link rel="stylesheet" href="/static/css/common.css">
</head>
<main>
<h1>Login</h1>
{% with messages = get_flashed_messages() %}
<form method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username"></input>
    <label for="password">Password:</label>
    <input type="text" name= "password" id="password"></input>
    <input type="submit" value="Submit"></input>
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</main>
{% include "footer.html" %}
