<head>
  <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
<main>
<h1>Sign up</h1>
{% with messages = get_flashed_messages() %}
<form method="POST">
  <div>
    <label for="username">Username: </label>
    <input id="username" name="username"></input>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password"></input>
    <input type="submit"></input>
  </div>
</form>
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
<a href="login">Login</a>
</main>
{% include "footer.html" %}
</body>
